---
---

<!DOCTYPE html>

{% include head.html %}

<body>

	{% include header.html %}

	<h2 id="experience">hire me!</h2>
	<p>I have experience in photography, information technology and as an event/theatre technician.</p>

    <h3>Programming experience:</h3>
	<ul>
		<li><b>[HTML/CSS]</b> developed a website for ISD's Sports and Activities department</li>
        <li><b>[PYTHON/HTML/CSS]</b> developed an inventory management system, <code>inventor2</code>, for ISD's Sound and Lights team</li>
	</ul>
	<h3>Technical theatre experience:</h3>
	<h4>ISD Sound and Lights:</h4>
	<ul>
		<li><b>A Christmas Carol</b> (spot operator)</li>
		<li><b>The Wave</b> (lighting design and operation)</li>
		<li><b>The Brothers Grimm Spectaculathon</b> (sound design and operation)</li>
		<li><b>And Then There Were None</b> (sound design and operation)</li>
		<li><b>Alice in Wonderland</b> (sound design and operation)</li>
		<li><b>The Stinky Cheese Man and Other Fairly Stupid Tales</b> (complete technical design and operation: lighting and sound)</li>
		<li><b>Various dance events</b> (live lighting)</li>
		<li><b>Various talent nights</b> (sound and lighting design and operation)</li>
		<li><b>Various concerts/assemblies</b> (sound mixing)</li>
	</ul>
	<h4>Blue Goat Theatre:</h4>
	<ul>
		<li><b>Robin Hood</b> (complete technical design and operation: lighting and sound)</li>
		<li><b>Too Much Light Makes the Baby Go Blind: 30 Plays in 60 Minutes</b> (complete technical design and operation: lighting and sound)</li>
		<li><b>MÄNNER_LEGENDEN</b> (complete technical design and operation: lighting and sound)</li>
	</ul>
	<h4>Orange Planet Theatre:</h4>
	<ul>
		<li><b>Blithe Spirit</b> (complete technical design and operation: lighting and sound)</li>
	</ul>

	{% include footer.html %}

</body>
</html>