<!DOCTYPE html>

<head>

    <title>theo court | {{ page.title }}</title>

	<meta name="description" content="Programmer, photographer and event technician currently based in NRW." />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
    <link rel="stylesheet" type="text/css" href="/neat.css">
    <link rel="stylesheet" type="text/css" href="/custom.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>

	<h1 style="display: inline-block"><a href="/">theo court</a></h1>
    <h3 style="display: inline; margin-left: 2%;"><a href="/posts">blog</a> | <a href="/projects">projects</a> | <a href="/hire">hire me!</a></h3>

    <h2>{{ page.title }}</h2>

    {{ content }}

	<br>
    <hr>
    <h5><a href="#">instagram</a> | <a href="#">github</a> | made with &lt;3</h5>
	
</body>
</html>