<!DOCTYPE html>
<html lang="en">
	<head>

		<title>theo court | {{ page.title }}</title>
		<meta name="description" content="Programmer, photographer and event technician currently based in NRW." />
		
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" type="text/css" href="/assets/default.css">
		

	</head>
	<body>

		<div id="header">
			<h1 style="display: inline-block"><a href="/">theo court</a></h1>
			<h3 style="display: inline; margin-left: 2%;"><a href="/posts">blog</a> | <a href="/hire">hire me!</a></h3>
		</div>


		{% if page.show_title %}
		    <h2>{{ page.title }}</h2>
		{% endif %}

		{{ content }}


		<div id="footer">
			<ul id="socials">
				<li><a href="https://instagram.com/ttccourt">instagram</a></li>
				<li><a href="https://github.com/ttccourt">github</a></li>
			</ul>
			<div id="copyright">
				<a href="/copyright">copyright</a> - made with &lt;3
			</div>
		</div>

	</body>
</html>